.metadata/
Servers/
RemoteSystemsTempFiles/

*/.metadata/
*/Servers/
*/RemoteSystemsTempFiles/
*/.recommenders/


#eclipse project specific
*/.classpath
*/.project
*/.settings/
*/build/
*/bin/
*/target/


#eclipse project specific
.classpath
.project
.settings/
build/
bin/
target/

#for jars
*.jar